@import '../../style/_vars.scss';


.weather-header {
  font-family: $headerFont;
  font-size: 1.5em;
  font-weight: bold;
  color: darkblue;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .4em;
}

.weather-p {
  font-family: Courier;
  font-size: $pFontSize;
  padding: .5em;
  padding-bottom: 1em;
}


